 
 .containerLib
 {
  background-color: rgb(137, 157, 169);
 }
 
 h1{
  display: flex;
  justify-content: center;
 }
 .container
 {
   height:100vh ;
   width: 100%;
  flex-wrap: wrap;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 
 .body
 {
display: flex;
justify-content: center;
align-items: center;
   width: 400px;
    background-color: whitesmoke;
 border: 1px solid black;
 }
 .form
 {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content:space-around ;
  margin: 20px;
  padding: 10px;
 }
 .form input
 {
  margin: 20px;

 }